*
!README.md
!*.cpp
!*.h
!/doc/
/doc/*
!/doc/*.tex
!/doc/*.bib
!/doc/*.sty
!/doc/*.pdf
!/doc/pics/
!/doc/pics/*
!.gitignore
!/scripts/
/scripts/*
!/scripts/*.py
!run
!/src/CMakeFiles/
!/apps/CMakeFiles/
!/util/CMakeFiles/
