*
!README.md
!*.cpp
!*.h
!/doc/
/doc/*
!/doc/*.tex
!/doc/*.bib
!/doc/*.sty
!.gitignore
!CMakeLists.txt
!/scripts/
/scripts/*
!/scripts/*.py
!run
!/util/
!/util/*
!/third-party/
!/third-party/*
/third-party/arrow/
/third-party/arrow/*
